# ROS2 build artifacts
**/build/
**/install/
**/log/


# Python
**/__pycache__/
**/*.py[cod]
**/.venv/
**/venv/


# IDE
**/.vscode/
**/.idea/


# Test / Cache
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/


# Coverage
**/.coverage
**/htmlcov/


# Log files
**/*.log
